<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming Ground | Privacy policy</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="navbar">
        <a th:href="@{#}"><img class="logo-image" th:src="@{/Images/logo.png}" alt="Webpage logo"></a>
        <ul class="menu">
            <li><a th:href="@{/}">HOME</a></li>
            <li><a th:href="@{/shop}">SHOP</a></li>
            <li><a th:href="@{/about}">ABOUT</a></li>
            <li><a th:href="@{/contact}">CONTACT</a></li>
            <li th:if="${isAdminAuthenticated}"><a th:href="@{/users-page}">USERS</a></li>
            <li th:if="${isActuallyAuthenticated}"><a th:href="@{/cart}"><img class="cart-image" th:src="@{/Images/cart.png}" alt="Cart logo"></a></li>
            <li th:if="${!isActuallyAuthenticated}"><a th:href="@{/login}"><img class="profile-image" th:src="@{/Images/profile.png}" alt="Profile logo">
                <span>LOG IN</span>
            </a>
            </li>
            <li th:if="${isActuallyAuthenticated}"><a th:href="@{/profile}"><img class="profile-image" th:src="@{/Images/profile.png}" alt="Profile logo">
                <span th:text="${username}"></span>
            </a>
            </li>
            <li th:if="${isActuallyAuthenticated}"><a><span onclick="logoutUser()">LOG OUT</span></a></li>
            <li><img class="close-image" th:src="@{/Images/close.png}" alt="Close logo"></li>
        </ul>

        <div class="mobile">
            <img class="hamburger-image" th:src="@{/Images/hamburger.png}" alt="Menu logo">
        </div>
    </div>

    <div class="privacy-policy">
        <h1>Privacy Policy</h1>

        <h2>Last updated: 14.11.2023</h2>

        <p>Welcome to Gaming Group! This Privacy Policy explains how Gaming Group ("us," "we," or "our") collects, uses, maintains, and discloses information collected from users (each, a "User")
            of our website and any related services, applications, or features offered by Gaming Group (collectively, the "Service").</p>

        <h2>1. Information We Collect</h2>

        <p>We may collect personal identification information from Users in various ways, including, but not limited to, when Users visit our site, register on the site, place an order,
            subscribe to the newsletter, respond to a survey, fill out a form, and in connection with other activities, services, features, or resources we make available on our site.
            Users may be asked for their name, email address, mailing address, phone number, payment information, and other details. Users may, however, visit our site anonymously.
            We will collect personal identification information from Users only if they voluntarily submit such information to us.
            Users can always refuse to supply personal identification information, except that it may prevent them from engaging in certain site-related activities.
        </p>

        <h2>2. How We Use Collected Information</h2>

        <p>We may collect and use Users' personal information for the following purposes:<br><br>
            - To improve customer service: Your information helps us respond to your customer service requests and support needs more efficiently.<br>
            - To personalize user experience: We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our site.<br>
            - To process transactions: We may use the information Users provide about themselves when placing an order only to provide service to that order.<br>
            - To send periodic emails: We may use the email address to send User information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests.
        </p>

        <h2>3. How We Protect Your Information</h2>

        <p>We adopt appropriate data collection, storage, and processing practices and security measures to protect against unauthorized access, alteration, disclosure,
            or destruction of your personal information, username, password, transaction information, and data stored on our site.</p>

        <h2>4. Sharing Your Personal Information</h2>

        <p>We do not sell, trade, or rent Users' personal identification information to others. We may share generic aggregated demographic information not linked to
            any personal identification information regarding visitors and users with our business partners, trusted affiliates, and advertisers for the purposes outlined above.</p>

        <h2>5. Third-Party Websites</h2>

        <p>Users may find advertising or other content on our site that links to the sites and services of our partners, suppliers, advertisers, or other third parties.
            Please note that we do not have control over the content or practices of these sites and cannot be held responsible for their privacy practices.
            Before clicking on a link and providing personal information, we recommend that you read the privacy policies of these third-party websites.
        </p>

        <h2>6. Cookies</h2>
        <p>Our website may use "cookies" to enhance the user experience. Users have the option to set their browsers to refuse all or some cookies or to be alerted when cookies are being sent.
            Please refer to the "Help" section of your browser for information on how to do this.

        <h2>7. Changes to This Privacy Policy</h2>
        <p> Gaming Group reserves the right to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page.
            We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect.
            You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
        </p>

        <h2>8. Your Acceptance of These Terms</h2>
        <p>By using this Site, you signify your acceptance of this policy. If you do not agree with this policy, please do not use our site.
            Your continued use of the site following the posting of changes to this policy will be deemed your acceptance of those changes.
        </p>

        <h2>Contacting Us</h2>
        <p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:<br><br>
            Gaming Group<br>
            Námestie Andreja Hlinku 7B<br>
            Slovakia, 010 01 Žilina<br>
            gamingground@gmail.com<br>
            +421 987 543 111<br><br>
            Thank you for reviewing our Privacy Policy. We are committed to protecting your privacy and providing a safe online experience for all users.
        </p>
    </div>

    <div class="footer">
        <div class="inner-footer">
            <h4>FOLLOW US</h4>
            <ul>
                <li><a th:href="@{https://www.facebook.com/}" target="_blank"><img class="follow-logo" th:src="@{/Images/facebook.png}" alt="Facebook logo" />Gaming Ground</a></li>
                <li><a th:href="@{https://www.instagram.com/}" target="_blank"><img class="follow-logo" th:src="@{/Images/instagram.png}" alt="Instagram logo" />@gamingground</a></li>
                <li><a th:href="@{https://twitter.com/?lang='en'}" target="_blank"><img class="follow-logo" th:src="@{/Images/twitter.png}" alt="Twitter logo" />@gamingground</a></li>
                <li><a th:href="@{https://www.youtube.com/}" target="_blank"><img class="follow-logo" th:src="@{/Images/youtube.png}" alt="Youtube logo" />Gaming Ground</a></li>
            </ul>
        </div>

        <div class="inner-footer">
            <h4>CONTACT</h4>
            <ul>
                <li>Námestie Andreja Hlinku 7B, 010 01 Žilina</li>
                <li>gamingground@gmail.com</li>
                <li>+421 987 543 111</li>
                <li>Monday-Friday: 9AM to 9PM</li>
                <li>Saturday-Sunday: 11AM to 6PM</li>
            </ul>
        </div>

        <div class="inner-footer">
            <h4>MY ACCOUNT</h4>
            <ul>
                <li th:if="${isActuallyAuthenticated}"><a th:href="@{/profile}">My profile</a></li>
                <li th:if="${!isActuallyAuthenticated}"><a th:href="@{/login}">Sign in</a></li>
                <li th:if="${isActuallyAuthenticated}"><a th:href="@{/cart}">View cart</a></li>
                <li><a href="">My wishlist</a></li>
                <li><a href="">Help</a></li>
            </ul>
        </div>

        <div class="inner-footer">
            <h4>COMPANY</h4>
            <ul>
                <li><a th:href="@{/about}">About us</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li><a class="active" th:href="@{#}">Privacy policy</a></li>
                <li><a th:href="@{/terms-and-conditions}">Terms & conditions</a></li>
            </ul>
        </div>
    </div>

    <script th:src="@{/script.js}"></script>
</body>
</html>